<div class="container mt-5" >

<div class="jumbotron text-center  d-flex flex-column min-vh-100 ">
  <h1 class="display-4 ">Redeemed Gospel Church, Zimmerman</h1>
  <p class="lead">Jesus Life Impacting Centre.</p>
  <hr class="my-4">
  <p></p>
  <p class="lead">
  
    <a class=" btn btn-primary" href="#" role="button">Sign up </a>
  </p>
  
</div>

</div>

<footer id="sticky-footer"  class=" py-3 bg-dark   text-white-50">
<div class="container text-center">
<small>Copyright &copy Benshalom 2022.</small>
</div>
</footer>



