<h1 class="text-center mt-4 ">   Edit  category</h1>

<div class="container bg-dark min-vh-100 mb-5">
<div class= "row justify-content-center min-vh-100 mb-5">

<div class = "col-10 mt-5  ">

<%= render 'form' %>
</div>

<div   class= "mb-3" 

<%=  link_to 'Return to articles', articles_path, class: 'btn btn-primary  col-3 mb-3'  %>
</div>
</div>
</div>


    

