<div  class= "min-vh-100">



<h1 class= "text-center  min-vh-100, mb-3">Category:  <%= @category.name %> </h1>



<div class= "text-center mt-3">Articles </div>

</h2>


<p class = " text-center, mb-1, col-12">


<%= render 'articles/article' %>

</p>

</div>

</div>