
<div class = "col-12   d-flex flex-column">
<footer id="sticky-footer"  class=" py-3 bg-dark   text-white-50 mt-5   ">
<div class="container text-center">
<small>Copyright &copy Benshalom 2022.</small>
</div>
</footer>

</div>